
{% extends "outer-layout.html" %}

{% block pageTitle %}Qooxdoo Home{% endblock %}
{% block pageBodyId %}home{% endblock %}

{% block pageContent %}
<!-- START HERO -->
<section class="hero">
    <div class="hero-container">

        <h1>A universal JavaScript framework</h1>

        <ul class="hero-features">
            <li><a href="#single-page-app">Single page applications</a></li>
            <li><a href="#ui-components">Wide range of UI components</a></li>
            <li><a href="#documentation">Extensive documentation</a></li>
            <li><a href="#mature-stable-open-source">Mature, stable &amp; open source</a></li>
            <li><a href="#object-model">Sophisticated object model</a></li>
            <li><a href="#test-suite">Comprehensive test suite</a></li>
            <li><a href="#toolchain">100% JavaScript toolchain</a></li>
            <li><a href="#battle-tested">Battle tested</a></li>
        </ul>

        <a href="portfolio"><div class="trusted-by">
            <h3>Trusted by</h3>
            <ul class="trusted-by-logos">
                <li class="logo-01"><img src="images/01-logo-spar.png" width="72" height="45" alt="Spar"></li>
                <li class="logo-02"><img src="images/02-logo-fmi.png" width="70" height="45" alt="FMI"></li>
                <li class="logo-03"><img src="images/03-logo-gsa.png" width="61" height="45" alt="GSA Logo"></li>
                <li class="logo-04"><img src="images/04-logo-hin.png" width="64" height="45" alt="HIN Logo"></li>
                <li class="logo-05"><img src="images/05-logo-intentor.png" width="92" height="45" alt="Intentor Logo"></li>
                <li class="logo-06"><img src="images/06-logo-litecom.png" width="79" height="45" alt="Litecom Logo"></li>
                <li class="logo-07"><img src="images/07-logo-oesterreichs.png" width="87" height="45" alt="Oesterreichs Logo"></li>
                <li class="logo-08"><img src="images/08-logo-plaidCloud.png" width="96" height="45" alt="PlaidCloud Logo"></li>
                <li class="logo-09"><img src="images/09-logo-qunidav.png" width="83" height="45" alt="Qunidev Logo"></li>
                <li class="logo-10"><img src="images/10-logo-smilevision.png" width="62" height="45" alt="Smilevision Logo"></li>
                <li class="logo-11"><img src="images/11-logo-trustx.png" width="71" height="45" alt="Trustx Logo"></li>
                <li class="logo-12"><img src="images/12-logo-upc.png" width="73" height="45" alt="UPC Logo"></li>
                <li class="logo-13"><img src="images/13-logo-upnfm.png" width="80" height="45" alt="UPNFM Logo"></li>
                <li class="logo-14"><img src="images/14-logo-vseaes.png" width="41" height="45" alt="VSEAES Logo"></li>
                <li class="logo-15"><img src="images/15-logo-vzaweb.png" width="90" height="45" alt="VZAweb Logo"></li>
                <li class="logo-16"><img src="images/16-logo-mutualink-2020.png" width="170" height="45" alt="Mutualink Logo"></li>
            </ul>
        </div></a>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 189.805 19.388" class="hero-bracket bracket">
            <path d="M0,19.388V18.9c0-2.734,0.834-4.95,2.5-6.65c1.667-1.7,4-2.55,7-2.55h73.885c2.934,0,5.15-0.917,6.65-2.75
    c1.5-1.834,2.25-4.15,2.25-6.95h4.887c0,2.8,0.75,5.116,2.25,6.95c1.5,1.833,3.684,2.75,6.55,2.75h74.331c3,0,5.333,0.85,7,2.55
    c1.666,1.7,2.5,3.916,2.5,6.65v0.488H0z"/>
        </svg>

    </div>
</section>
<section id="zx-demo">
  <div class="feature-container">
      <div class="description-container">
          <div class="description">
              <h2>Server Objects Demo</h2>
              <div class="lets-go"><a href="/zx-demo.html">Start</a></div>
          </div>
      </div>
    </div>  
</section>
<!-- end hero -->
{% endblock %}
